<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">
	<select id="listMyPages" parameterType="com.sp.withtail.myPage.MyPage" resultType="com.sp.withtail.myPage.MyPage">
		SELECT petName, breed, gender, whichPet, petsImageFilename, num
		FROM animal
		WHERE userId = #{userId}
	</select>
	
	<select id="readPet" parameterType="Long" resultType="com.sp.withtail.myPage.MyPage">
		SELECT num, petName, breed, gender, whichPet, petsImageFilename, weight, TO_CHAR(birth, 'YYYY"년"MM"월"DD"일" DY"요일"') AS birth,
		        TO_CHAR(birth, 'YYYY-MM-DD') AS birth2
		FROM animal
		WHERE num = ${num}
	</select>
	
	<delete id="deletePet" parameterType="Long"> 
		DELETE FROM animal WHERE num = #{num}
	</delete>
	
	<select id="dataCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM animal
		WHERE userId = #{userId}
	</select>
	
	<update id="petEdit" parameterType="com.sp.withtail.myPage.MyPage">
		UPDATE animal SET petName=#{petName} , breed=#{breed}, gender=#{gender}, petsImageFilename= #{petsImageFilename, jdbcType=VARCHAR}, birth=#{birth}, weight=#{weight}
		WHERE num =#{num}
	</update>
	
	<select id="listDelivery" parameterType="com.sp.withtail.myPage.MyPage" resultType="com.sp.withtail.myPage.MyPage">
		SELECT addNum, userId, addr1, addr2, zip, tel, memo, addDef, addName
		FROM address
		WHERE userId = #{userId}
		ORDER BY addDef DESC
	</select>
	
	<insert id="insertAdd" parameterType="com.sp.withtail.myPage.MyPage">
		INSERT INTO address(addNum, userId, addr1, addr2, zip, tel, memo, addDef, addName)
		VALUES (address_seq.NEXTVAL, #{userId}, #{addr1},#{addr2},#{zip},#{tel},#{memo},#{addDef},#{addName})
	</insert>
	
	<select id="readAdd" parameterType="Long" resultType="com.sp.withtail.myPage.MyPage">
		SELECT addNum, userId, addr1, addr2, zip, tel, memo, addDef, addName
		FROM address
		WHERE addNum = #{addNum}
	</select>
	
	<update id="updateAdd" parameterType="com.sp.withtail.myPage.MyPage">
		UPDATE address SET addr1=#{addr1}, addr2=#{addr2}, zip=#{zip}, tel=#{tel}, memo=#{memo}, addDef=#{addDef}, addName=#{addName}
		WHERE addNum = #{addNum}
	</update>
	
	<update id="basicAddressClear" parameterType="String">
		UPDATE address SET addDef = 0 WHERE userId = #{userId}
	</update>
	
	<delete id="deleteAdd" parameterType="Long">
		DELETE FROM address WHERE addNum = #{addNum}
	</delete>
	
	<select id="addDataCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM address
		WHERE userId = #{userId}
	</select>
	
	<select id="readProfile" parameterType="String" resultType="com.sp.withtail.myPage.MyPage">
		SELECT num, userId, userName, nickname, email, enabled
		FROM member1
		WHERE userId = #{userId}
	</select>
	
	<update id="updateProfileName" parameterType="com.sp.withtail.myPage.MyPage">
		UPDATE member1 SET userName=#{userName}, nickName=#{nickName}
		WHERE userId = #{userId}
	</update>
	
	<update id="updateEnabled" parameterType="com.sp.withtail.myPage.MyPage">
		update member1 set enabled=0 where userId=#{userId}
	</update>
		
	<insert id="insertMemberState" parameterType="com.sp.withtail.myPage.MyPage">
		INSERT INTO memberState(stateNum, userId, stateCode, memo, stRegDate)
		VALUES (memberState_seq.NEXTVAL, #{userId}, 8, '회원탈퇴', SYSDATE)
	</insert>
	
	<select id="listCoupon" parameterType="com.sp.withtail.myPage.MyPage" resultType="com.sp.withtail.myPage.MyPage">
		SELECT c.couponNum, userId, used, startDate, endDate, couponName, couponPrice, couponMinPrice , TO_CHAR(endDate, 'YYYY. MM. DD AM HH:MI:SS') AS endDate2, couponCategory
		FROM coupon c
		JOIN memberCoupon m ON c.couponNum = m.couponNum
		WHERE userId = #{userId}
	</select>
	
	<select id="couponDataCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM coupon c
		JOIN memberCoupon m ON c.couponNum = m.couponNum
		WHERE userId = #{userId}
	</select>
	
	<select id="couponUnusedDataCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM coupon c
		JOIN memberCoupon m ON c.couponNum = m.couponNum
		WHERE userId = #{userId} AND used = 0
	</select>

	<select id="listOrder" parameterType="com.sp.withtail.myPage.MyPage" resultType="com.sp.withtail.myPage.MyPage">
		SELECT ol.orderNum, m.userId, purchaseMoney,count, itemName, madeBy, mainImage,o2.option2Name, o22.option2Name AS option2Name2, TO_CHAR(purchaseDate, 'YYYY"년"MM"월"DD"일" DY"요일"') purchaseDate,orderState
		FROM member1 m
		JOIN orderList ol ON m.userId = ol.userId
		JOIN orderDetail OD ON ol.orderNum = od.orderNum
		JOIN item i ON i.itemNum = od.itemNum
		LEFT OUTER JOIN option2 o2 ON o2.option2Num = od.option2Num
		LEFT OUTER JOIN option2 o22 ON o22.option2Num = od.option2Num2
		WHERE m.userId = #{userId}
	</select>
	
	<select id="orderDataCount" parameterType="String" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM orderList
		WHERE userId = #{usreId}		
	</select>
	
	<select id="readOrderList" parameterType="Long" resultType="com.sp.withtail.myPage.MyPage">
		SELECT m.userId, ol.purchaseDate, ol.orderNum, tel, zip, addr1, addr2, memo, addName, orderState, totalOriPrice, deliveryCharge,usedPoint, usedCoupon,
      		 SUM((od.price - NVL(od.salePrice, 0)) * od.count) AS total_discount, totalPurchasePrice
		FROM member1 m
		JOIN orderList ol ON ol.userId = m.userId
		JOIN address a ON m.userId = a.userId
		JOIN orderDetail OD ON ol.orderNum = od.orderNum
		WHERE addNum = 25 AND od.orderNum=#{orderNum}
		GROUP BY m.userId, ol.purchaseDate, ol.orderNum, tel, zip, addr1, addr2, memo, addName, orderState,totalOriPrice,deliveryCharge,usedPoint, usedCoupon,totalPurchasePrice
	</select>
	
	<update id="updateOrderState" parameterType="Long">
		update orderList set orderState=5 where orderNum=#{orderNum}
	</update>
	
	<select id="listNumOrder" parameterType="Long" resultType="com.sp.withtail.myPage.MyPage">
		SELECT ol.orderNum, m.userId, purchaseMoney,count, itemName, madeBy, mainImage,o2.option2Name, o22.option2Name AS option2Name2,
			 TO_CHAR(purchaseDate, 'YYYY"년"MM"월"DD"일" DY"요일"') purchaseDate,orderState,price , salePrice
		FROM member1 m
		JOIN orderList ol ON m.userId = ol.userId
		JOIN orderDetail OD ON ol.orderNum = od.orderNum
		JOIN item i ON i.itemNum = od.itemNum
		LEFT OUTER JOIN option2 o2 ON o2.option2Num = od.option2Num
		LEFT OUTER JOIN option2 o22 ON o22.option2Num = od.option2Num2
		WHERE od.orderNum = #{orderNum}
	</select>
	
	
	
</mapper>

