<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<!-- 장바구니 추가 -->
	<insert id="insertCart" parameterType="com.sp.withtail.order.Order">
		INSERT INTO cart(cartNum, userId, itemNum, option2Num, option2Num2, quantity, cartRegDate)
    		VALUES(cart_seq.NEXTVAL, #{userId}, #{itemNum}, #{option2Num, jdbcType=INTEGER}, #{option2Num2, jdbcType=INTEGER}, #{quantity}, SYSDATE)
	</insert>
	
	<select id="readCart" parameterType="map" resultType="com.sp.withtail.order.Order">
		SELECT cartNum, userId, option2Num, option2Num2, quantity, itemNum, cartRegDate
		FROM cart
		WHERE itemNum = #{itemNum} AND option2Num = #{option2Num, jdbcType=INTEGER} AND option2Num2 = #{option2Num2, jdbcType=INTEGER} AND userId = #{userId}
	</select>
	
	<update id="updateCart" parameterType="com.sp.withtail.order.Order">
		UPDATE cart SET quantity = quantity + #{quantity}, cartRegDate = SYSDATE
		WHERE itemNum = #{itemNum} AND option2Num = #{option2Num, jdbcType=INTEGER} AND option2Num2 = #{option2Num2, jdbcType=INTEGER} AND userId = #{userId}
	</update>
	
	<delete id="deleteCart" parameterType="map">
		DELETE FROM cart
		WHERE userId = #{userId} 
	</delete>
</mapper>