<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ranking">
	<select id="rankList" parameterType="map" resultType="com.sp.withtail.ranking.Ranking">

	SELECT o.itemNum, i.itemName, sum(count), a.finalPrice, i.ctNum, i.discount, i.price
	FROM orderDetail o
	JOIN item i ON i.itemNum = o.itemNum
	JOIN (
	SELECT price * (100-NVL(discount,0)) * 0.01 finalPrice, itemNum
	FROM item) a ON o.itemNum = a.itemNum
    JOIN (
        SELECT ctName, ctNum
        FROM category
        WHERE CONNECT_BY_ROOT ctName = #{condition} <!-- '강아지 또는 고양이' -->
        START WITH parentCT IS NULL
        CONNECT BY PRIOR ctNum = parentCT
    ) c ON c.ctNum =  i.ctNum
	GROUP BY o.itemNum, i.itemName, a.finalPrice, i.ctNum, i.discount, i.price
	ORDER BY sum(count) DESC
 
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">

	SELECT Count(Count(o.itemNum))
	FROM orderDetail o
	JOIN item i ON i.itemNum = o.itemNum
    JOIN (
        SELECT ctNum
        FROM category
        WHERE CONNECT_BY_ROOT ctName = #{condition} <!-- '강아지 또는 고양이' -->
        START WITH parentCT IS NULL
        CONNECT BY PRIOR ctNum = parentCT
    ) c ON c.ctNum =  i.ctNum
	GROUP BY o.itemNum
	</select>
</mapper>
